<div id= "homepage">
  <h1 class= "col-xs-6 col-xs-offset-2" >Bienvenue au Petit Coin</h1>

  <div class="row">
    <p class="col-xs-2 col-xs-offset-3"><%= link_to "Accéder aux annonces", annonces_path %></p>
    <p class="col-xs-2"><%= link_to "Déposer une annonce", new_annonce_path %></p>
  </div>
</div>

